.topContainer{
    background: url("../../img/71c7e2ef389021d4041bdf565588c592.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5) ;

}